button{
    color:white;
    background: green;
    border: 0;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
button :hover,button:active{
    background: grey;
}
.form{
    width: 50%;
    background:#f1f1f1;
    margin-top: 60px;
}
h2{
    background: blue;
    color: white;
    width: 94%;
    padding: 20px;
}
label{
    font-size: 20px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.qn{
    padding: 5px;
    width: 9%;
    margin-top: 20px;
}
.info{
    width: 560px;
    padding: 60px;
    margin-top: 20px;
    border: 0;
}
.profile{
    float: right;
    font-size: 16px;
}